<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="<%= yield(:metatag) %>"></meta>
	<title> Demo App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
